div {
  @media only screen and (max-width: 320px) {
    font-size: 90%;
  }
}

.container {
  padding: 30px;

  @media only screen and (max-width: 1280px) {
    padding: 0px;
  }

  .big-font {
    font-size: 4rem;
    @media only screen and (max-width: 320px) {
      font-size: 90%;
    }
  }
}
