<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Weather App</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <mat-card>
    <div
      fxLayout="column"
      fxLayoutAlign="space-evenly center"
      fxLayout.gt-md="row"
      fxLayoutAlign.gt-md="space-evenly center"
    >
      <div class="big-font">{{ weather | number: "1.0-0" }}&deg;C</div>
      <div
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        fxLayoutAlign.gt-md="space-evenly start"
      >
        <div>{{ city }}, {{ state }}</div>
        <div>{{ datetime | date: "long" }}</div>
        <div><img [src]="weatherIcon" alt="" /></div>
      </div>
    </div>
  </mat-card>

  <mat-list *ngFor="let forecast of forecasts; let i = index">
    <mat-list-item>
      <div
        fxLayout="row"
        fxFill
        fxLayoutAlign="space-between center"
        fxLayoutAlign.gt-md="space-evenly center"
      >
        <div fxLayout="column" fxLayoutAlign="space-evenly start">
          <div>{{ forecast.dt_txt | date: "medium" }}</div>
          <div>{{ forecast.weather[0].main }}</div>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-evenly start">
          {{ forecast.main.temp_min - 273.15 | number: "1.0-0" }}&deg;C -
          {{ forecast.main.temp_max - 273.15 | number: "1.0-0" }}&deg;C
        </div>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
